{% load static %}

<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=600, initial-scale=1">
    <title>{% block title %}demo{% endblock %}</title>
    {% block css %}
      <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'main.css' %}">
    {% endblock %}
    {% block js %}
    {% endblock %}
{#    <!-- {% csrf_token %} -->#}
  </head>
  <body>
    <div class="banner">
      <div class="nav content">
        <a class="title" href="{% url 'upload' %}">CS05177-demo</a>
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            {% block menu %}
              <li class="pure-menu-item">
                <a href="{% url 'upload' %}" class="pure-button">再传一张</a>
              </li>
            {% endblock %}
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
